# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Always state the H0 and H1 before conducting the hypothesis test.
- Happy learning!

In [61]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [62]:
employee = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')
employee.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents.

Examine the `salaries` dataset using the `head` function below.

In [63]:
employee.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.00
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN
5,"AGNEW, ANTONIO E",MOTOR TRUCK DRIVER,AVIATION,F,Hourly,40.0,NaN,37.45
6,"AGNEW, MELISSA M",SERGEANT,POLICE,F,Salary,NaN,111444.0,NaN
7,"AGOSTA, JOSEPH J",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,103932.0,NaN
8,"AGOSTINELLI, MICHAEL A",FIREFIGHTER (PER ARBITRATORS AWARD)-EMT,FIRE,F,Salary,NaN,107106.0,NaN
9,"AGOSTINI, LUIS R",ASST DIR,POLICE,F,Salary,NaN,95736.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [64]:
display(employee.isnull().sum())

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [65]:
employee['Salary or Hourly'].value_counts()

Salary or Hourly
Salary    25528
Hourly     8174
Name: count, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [66]:
employee['Department'].value_counts()

Department
POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
HUMAN RESOURCES           75
ANIMAL CONTRL             75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
DISABILITIES              28
TREASURER                 28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: count, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [67]:
from scipy.stats import ttest_1samp

hourly_wage_data = employee[employee['Salary or Hourly'] == 'Hourly']['Hourly Rate'].dropna()

stat, pval = ttest_1samp(hourly_wage_data, 30)

print('t_stat is  ', stat)
print('pvalue for the two-tailed test is ', pval)

t_stat is   31.211500329216044
pvalue for the two-tailed test is  3.825475847673794e-202

In [125]:
# we can find a confidence interval for the population based on our sample
import scipy.stats

confidence_level = 0.95

degrees_freedom = len(hourly_wage_data) - 1
sample_mean = np.mean(hourly_wage_data)

sample_standard_error = scipy.stats.sem(hourly_wage_data) # sem = standard error of the mean

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)

In [126]:
print('confidence interval is ', confidence_interval)
print('degrees_freedom is' , degrees_freedom)
print('sample mean is' , sample_mean)
print('sample_standard_error is' , sample_standard_error)

confidence interval is  (35.28150811892106, 35.82308559722194)
degrees_freedom is 1845
sample mean is 35.5522968580715
sample_standard_error is 0.13806942337189038

In [69]:
print( 'confidence interval is ', confidence_interval, '.' )

confidence interval is  (34.29839539204317, 34.874504045196865) .

In [70]:
print(degrees_freedom)

8173

In [71]:
print(sample_mean)

34.58644971862002

In [72]:
print(sample_standard_error)

0.14694742867989574

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our Null hypothesis is less than or equal to, then to reject, the test statistic must be positive (rejects the <) and the p-value below 0.05 (rejects the =).

In [73]:
police_salaries = employee[(employee['Salary or Hourly'] == 'Salary') & (employee['Department'] == 'POLICE')]['Annual Salary'].dropna()
police_salaries

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

In [74]:
stat, pval = ttest_1samp(police_salaries, 86000)
print('pvalue for the one-tailed test is ', pval/2)

pvalue for the one-tailed test is  6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [84]:
department_hourly_counts = pd.crosstab(employee['Department'], employee['Salary or Hourly'], margins=False)
department_hourly_counts

Salary or Hourly     Hourly  Salary
Department
ADMIN HEARNG              0      38
ANIMAL CONTRL            12      63
AVIATION               1214     642
BOARD OF ELECTION         0     111
BOARD OF ETHICS           0       8
BUDGET & MGMT             2      42
BUILDINGS                 0     258
BUSINESS AFFAIRS          7     160
CITY CLERK                0      88
CITY COUNCIL             74     288
COPA                      0     123
CULTURAL AFFAIRS         10      64
DAIS                    745     288
DISABILITIES              1      27
FAMILY & SUPPORT        357     299
FINANCE                  45     499
FIRE                      0    4627
HEALTH                    2     465
HOUSING                   0      66
HOUSING & ECON DEV        3     151
HUMAN RELATIONS           0      17
HUMAN RESOURCES           0      75
INSPECTOR GEN             0      95
LAW                      48     350
LICENSE APPL COMM         0       1
MAYOR'S OFFICE           17      87
OEMC                   1077     660
POLICE                   24   13824
POLICE BOARD              0       2
PROCUREMENT               2      82
PUBLIC LIBRARY          356     732
PUBLIC SAFETY ADMIN      48     196
STREETS & SAN          1846     329
TRANSPORTN              726     387
TREASURER                 0      28
WATER MGMNT            1558     356

In [89]:
hourly_counts = department_hourly_counts['Hourly']
department_most_hourly = hourly_counts.idxmax()
department_most_hourly

'STREETS & SAN'

In [92]:
hourly_wage_data = employee[(employee['Department'] == department_most_hourly) & (employee['Salary or Hourly'] == 'Hourly')]['Hourly Rate'].dropna()

# Perform one-sample t-test

stat, pval = ttest_1samp(hourly_wage_data, 35)

print('t_stat is  ', stat)
print('pvalue for the two-tailed test is ', pval/2)

t_stat is   4.000138803968834
pvalue for the two-tailed test is  3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [104]:
import scipy.stats

confidence_level = 0.95

sample_size = len(hourly_wage_data)
sample_mean = np.mean(hourly_wage_data)

sample_standard_error = scipy.stats.sem(hourly_wage_data)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             sample_size, 
                                             sample_mean, 
                                             sample_standard_error)

In [121]:
print( 'confidence interval is ', confidence_interval)
print('sample size is' , sample_size)
print('sample mean is' , sample_mean)
print('sample_standard_error is' , sample_standard_error)

confidence interval is  (88534.11829048868, 89134.11955673354)
sample size is 13824
sample mean is 88834.11892361111
sample_standard_error is 153.0509585263483

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [110]:
salary_data = employee[(employee['Department'] == 'POLICE') & (employee['Salary or Hourly'] == 'Salary')]['Annual Salary'].dropna()
salary_data

1         93354.0
4         90024.0
6        111444.0
7        103932.0
9         95736.0
           ...
33696     80016.0
33697     72510.0
33698     76266.0
33699     90024.0
33700     93354.0
Name: Annual Salary, Length: 13824, dtype: float64

In [119]:
import scipy.stats

confidence_level = 0.95

sample_size = len(salary_data)
sample_mean = np.mean(salary_data)

sample_standard_error = scipy.stats.sem(salary_data)

confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             sample_size, 
                                             sample_mean, 
                                             sample_standard_error)

In [122]:
print('confidence interval is ', confidence_interval)
print('sample size is' , sample_size)
print('sample mean is' , sample_mean)
print('sample_standard_error is' , sample_standard_error)

confidence interval is  (88534.11829048868, 89134.11955673354)
sample size is 13824
sample mean is 88834.11892361111
sample_standard_error is 153.0509585263483

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [79]:
# Your code here: